* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  margin: 0;
  /* position: fixed; */
}
.header {
  display: flex;
  justify-content: space-between;
  /*  position: fixed;  */
  position: sticky;
}
.logo {
  cursor: pointer;
  margin: 15px 50px;
}
.top-nav {
  margin-top: 30px;
  margin-right: 50px;
  padding-top: 20px;
  font-family: "Roboto Flex", sans-serif;
  cursor: pointer;
}
.top-nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 16 px;
  font-weight: 300;
}
.top-nav a:hover {
  color: #fd7e14;
}
.top-nav span:hover {
  color: #fd7e14;
}
hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
.aboutus {
  margin: 5px 0px;
}
.aboutus .about-topnav {
  margin-right: 40px;
  padding-top: 15px;
  margin-left: 94%;
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
}
.about-topnav a {
  margin-bottom: 20px;
  /* margin-right: 2px; */
  text-decoration: none;
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto Flex", sans-serif;
}
.about-text {
  margin-left: 350px;
  font-size: 12px;
  font-weight: 100;
  color: #b4adad;
  margin-top: 20px;
  font-family: "Roboto Flex", sans-serif;
}
.about-topnav a:hover {
  color: #fd7e14;
}
.adress-section {
  margin-left: 350px;
  /* display: flex; */
}
.adress-ok {
  display: flex;
}
.map {
  margin-top: 20px;
}
.hr1 {
  border: 0;
  outline: 0;
  border-left: 1px solid #fd7e14;
  height: 1100px;
  margin-left: 100px;
  margin-top: 50px;
}
.adress {
  /* display: flex; */
  width: 1300px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-top: 50px;
}
.adress p {
  margin-top: 20px;
}
.adress h3 {
  font-size: 20px;
  margin-top: 20px;
}
.adress br {
  margin-top: 50px;
}
.enquiry {
  margin-top: 50px;
  margin-left: 30px;
  width: 100%;
  /* background: blue; */
  margin-right: 350px;
}
input {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  margin-top: 20px;
  /* margin-bottom: 30px; */
}
.form h4 {
  font-size: 20px;
  width: 100%;
  padding-top: 20px;
  font-weight: 300;
  font-family: "Roboto Flex", sans-serif;
}
.hi {
  display: flex;
  gap: 100px;
}
.input {
  margin-top: 50px;
  margin-left: -320px;
  width: 100%;
}
button {
  width: 100px;
  height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}
button:hover {
  background: #fd7e14;
}
.footer {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.footer-section {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.icons .icon {
  display: flex;
  gap: 30px;
  /* cursor: pointer; */
}
.icons .icon {
  cursor: pointer;
}
.icons #icon:hover {
  color: #fd7e14;
}
hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
