* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  margin: 0;
  /* position: fixed; */
}
.header {
  display: flex;
  justify-content: space-between;
  /*  position: fixed;  */
  position: sticky;
}
.logo {
  cursor: pointer;
  margin: 15px 50px;
}
.top-nav {
  margin-top: 30px;
  margin-right: 50px;
  padding-top: 20px;
  font-family: "Roboto Flex", sans-serif;
  cursor: pointer;
}
.top-nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 16 px;
  font-weight: 300;
}
.top-nav a:hover {
  color: #fd7e14;
}
.top-nav span:hover {
  color: #fd7e14;
}
.header-image {
  /* margin-bottom: -500px; */
  width: 100%;
  position: sticky;
}
.header-image img {
  width: 100%;
  height: 500px;
}
.about-images {
  margin-left: 350px;
  margin-right: 350px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.image {
  width: 290px;
  height: 450px;
  background: rgb(227, 227, 233);
  text-decoration: none;
  color: #000;
  font-family: "Roboto Flex", sans-serif;
  margin-bottom: 30px;
  cursor: default;
  /* padding-left: 10px; */
}
/* .image a {
text-decoration: none;
  padding-top: 10px;
  padding-left: 10px;
} */
/* .image {
  filter: grayscale(100%);
  opacity: 1;
} */
/* .image:hover {
  filter: grayscale(100%);
} */
.image img {
  width: 0 0 260px;
  max-width: 290px;
  cursor: pointer;
  /* margin-bottom: 100px; */
}
.image span {
  padding: 20px;
}
.footer {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.footer-section {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.icons .icon {
  display: flex;
  gap: 30px;
  /* cursor: pointer; */
}
.icons .icon {
  cursor: pointer;
}
.icons #icon:hover {
  color: #fd7e14;
}
hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
