* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  margin: 0;
  /* position: fixed; */
}
.header {
  display: flex;
  justify-content: space-between;
  /*  position: fixed;  */
  position: sticky;
}
.logo {
  cursor: pointer;
  margin: 15px 50px;
}
.top-nav {
  margin-top: 30px;
  margin-right: 50px;
  padding-top: 20px;
  font-family: "Roboto Flex", sans-serif;
  cursor: pointer;
}
.top-nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 16 px;
  font-weight: 300;
}
.top-nav a:hover {
  color: #fd7e14;
}
.top-nav span:hover {
  color: #fd7e14;
}
.header-image {
  position: relative;
  width: 100%;
  /* height: 450px; */
  overflow: hidden;
}
.image1 .image-slider {
  width: 100%;
  display: flex;
  animation: slide 15s infinite ease;
}
a {
  width: 100%;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-100%);
  }
  67% {
    transform: translateX(-100%);
  }
  73% {
    transform: translateX(-200%);
  }
  97% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.portfolio {
  margin-top: 50px;
}
h1 {
  margin-left: 40%;
  font-family: "Roboto Flex", sans-serif;
  /* font-size: 16px; */
  font-weight: 300;
  color: #b9b8b7;
}

.product-image {
  display: flex;
}
.hoverimage {
  position: relative;
  width: 600px;
  height: 550px;
  /* gap: 10px; */
  margin: 20px;
}
.image-area img {
  position: absolute;
  left: 0;
  height: 550px;
  width: 600px;
  transition: opacity 1s ease-in-out;
}
.image-area img.back:hover {
  opacity: 0;
  cursor: pointer;
}
.whats {
  display: flex;
}
.new img {
  width: 370px;
  height: 370px;
  margin-left: 5px;
}
.footer {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.footer-section {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.icons .icon {
  display: flex;
  gap: 30px;
  /* cursor: pointer; */
}
.icons .icon {
  cursor: pointer;
}
.icons #icon:hover {
  color: #fd7e14;
}
hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
