* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  margin: 0;
  /* position: fixed; */
}
.header {
  display: flex;
  justify-content: space-between;
  /*  position: fixed;  */
  position: sticky;
}
.logo {
  cursor: pointer;
  margin: 15px 50px;
}
.top-nav {
  margin-top: 30px;
  margin-right: 50px;
  padding-top: 20px;
  font-family: "Roboto Flex", sans-serif;
  cursor: pointer;
}
.top-nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 16 px;
  font-weight: 300;
}
.top-nav a:hover {
  color: #fd7e14;
}
.top-nav span:hover {
  color: #fd7e14;
}

hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
.aboutus {
  margin: 5px 0px;
}
.aboutus .about-topnav {
  margin-right: 40px;
  padding-top: 15px;
  margin-left: 77%;
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
}
.about-topnav a {
  margin-bottom: 20px;
  /* margin-right: 2px; */
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto Flex", sans-serif;
}
.about-text {
  margin-left: 350px;
  font-size: 16px;
  font-weight: 100;
  font-family: "Roboto Flex", sans-serif;
}
.about-topnav a:hover {
  color: #fd7e14;
}
.video-section {
  /* width: 100%;*/

  background: #e9e9e9;
}
.video {
  margin-top: 40px;
  margin-left: 350px;
  margin-right: 350px;
}
.paragraph {
  margin-top: 40px;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 16px;
  font-weight: 300;
  /* gap: 10px; */
}
.paragraph p {
  margin-top: 20px;
  font-family: "Roboto Flex", sans-serif;
}
.para {
  color: #fd7e14;
}
.about-images {
  margin-left: 350px;
  margin-right: 350px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.image {
  width: 290px;
  height: 350px;
  background: rgb(227, 227, 233);
  text-decoration: none;
  color: #000;
  font-family: "Roboto Flex", sans-serif;
  margin-top: 20px;
  cursor: default;
  /* padding-left: 10px; */
}
/* .image a {
text-decoration: none;
  padding-top: 10px;
  padding-left: 10px;
} */

.image img {
  width: 0 0 260px;
  max-width: 290px;
  cursor: pointer;
}
.image span {
  padding: 10px;
  /* cursor: default; */
  /* margin-top: 10px; */
}
.footer {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.footer-section {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.icons .icon {
  display: flex;
  gap: 30px;
  /* cursor: pointer; */
}
.icons .icon {
  cursor: pointer;
}
.icons #icon:hover {
  color: #fd7e14;
}
