* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  margin: 0;
  /* position: fixed; */
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
  margin: 15px 50px;
}
.top-nav {
  margin-top: 30px;
  margin-right: 50px;
  padding-top: 20px;
  font-family: "Roboto Flex", sans-serif;
  cursor: pointer;
}
.top-nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 16 px;
  font-weight: 300;
}
.top-nav a:hover {
  color: #fd7e14;
}
.top-nav span:hover {
  color: #fd7e14;
}

.hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
.aboutus {
  margin: 5px 0px;
}
.aboutus .about-topnav {
  margin-right: 40px;
  padding-top: 15px;
  margin-left: 77%;
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
}
.about-topnav a {
  margin-bottom: 60px;
  /* margin-right: 2px; */
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto Flex", sans-serif;
}
.about-text {
  margin-left: 350px;
  font-size: 16px;
  font-weight: 100;
  font-family: "Roboto Flex", sans-serif;
}
.about-topnav a:hover {
  color: #fd7e14;
}
.main--section {
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 50px;
  display: flex;
}
.hr1 {
  border: 0;
  outline: 0;
  border-left: 1px solid #000;
  height: 620px;
  margin-left: 20px;
  /* margin-left: 600px; */
}
.image img {
  width: 545px;
  height: 643px;
  padding: 20px;
}
.text1 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 20px;
  /* gap: 10px; */
}
.text1 p {
  padding: 5px;
}
.lab-1 {
  font-family: "Roboto Flex", sans-serif;
  margin-left: 350px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.lab-1 i {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  color: #b4adad;
}
.lab {
  font-size: 20px;
  font-weight: 600;
  color: #b4adad;
  margin-top: 5px;
}
.footer {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.footer-section {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.icons .icon {
  display: flex;
  gap: 30px;
  /* cursor: pointer; */
}
.icons .icon {
  cursor: pointer;
}
.icons #icon:hover {
  color: #fd7e14;
}
.hr2 {
  margin-left: 350px;
  margin-right: 350px;
}
