* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  margin: 0;
  /* position: fixed; */
}
.header {
  display: flex;
  justify-content: space-between;
  /*  position: fixed;  */
  position: sticky;
}
.logo {
  cursor: pointer;
  margin: 15px 50px;
}
.top-nav {
  margin-top: 30px;
  margin-right: 50px;
  padding-top: 20px;
  font-family: "Roboto Flex", sans-serif;
  cursor: pointer;
}
.top-nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 16 px;
  font-weight: 300;
}
.top-nav a:hover {
  color: #fd7e14;
}
.top-nav span:hover {
  color: #fd7e14;
}

hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
.aboutus {
  margin: 5px 0px;
}
.aboutus .about-topnav {
  margin-right: 50px;
  padding-top: 15px;
  margin-left: 84%;
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
}
.about-topnav a {
  margin-bottom: 20px;
  margin-left: 10px;

  /* margin-right: 2px; */
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 100;
  font-family: "Roboto Flex", sans-serif;
}
.about-text {
  /* display: flex; */
  margin-left: 350px;
  font-size: 16px;
  font-weight: 100;
  font-family: "Roboto Flex", sans-serif;
}
.about-topnav a:hover {
  color: #fd7e14;
}
.portfolio {
  margin-top: 0px;
}
h1 {
  margin-left: 40%;
  font-family: "Roboto Flex", sans-serif;
  /* font-size: 16px; */
  font-weight: 300;
  color: #b9b8b7;
}

.product-image {
  display: flex;
}
.hoverimage {
  position: relative;
  width: 600px;
  height: 550px;
  /* gap: 10px; */
  margin: 20px;
}
.image-area img {
  position: absolute;
  left: 0;
  height: 550px;
  width: 600px;
  transition: opacity 1s ease-in-out;
}
.image-area img.back:hover {
  opacity: 0;
  cursor: pointer;
}
.footer {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}
.footer-section {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.icons .icon {
  display: flex;
  gap: 30px;
  /* cursor: pointer; */
}
.icons .icon {
  cursor: pointer;
}
.icons #icon:hover {
  color: #fd7e14;
}
hr {
  margin-top: 10px;
  border: 0;
  outline: 0;
  border: 1px solid #b4adad;
}
